<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>donation_tier_10</key>
		<dict>
			<key>name</key>
			<string>Donation Tier 10</string>
		</dict>
		<key>donation_tier_5</key>
		<dict>
			<key>name</key>
			<string>Donation Tier 5</string>
		</dict>
		<key>donation_tier_1</key>
		<dict>
			<key>name</key>
			<string>Donation Tier 1</string>
		</dict>
		<key>donation_tier_2</key>
		<dict>
			<key>name</key>
			<string>Donation Tier 2</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>remove_ads</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
